[submodule "lib/sdl-nim"]
	path = lib/sdl-nim
	url = https://github.com/carrexxii/sdl-nim
[submodule "lib/nuklear-nim"]
	path = lib/nuklear-nim
	url = https://github.com/carrexxii/nuklear-nim
[submodule "lib/ngm"]
	path = lib/ngm
	url = https://github.com/carrexxii/ngm
[submodule "lib/nai"]
	path = lib/nai
	url = https://github.com/carrexxii/nai
